.card {
    box-shadow: 0px 4px 12px 0px #00000026;
    height: 279px;
    border-radius: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border:none;

    @media screen and (max-width: 767px) {
        height: 245px;
    }
}

.ant-card .ant-card-body{
    padding:0;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "poster descContainer"
    "poster description"
    "poster rate";
    grid-template-columns: 183px auto;
    grid-template-rows: 1fr 4fr 1fr;

    @media screen and (max-width: 1000px) {
        grid-template-areas: "poster descContainer"
        "description description"
        "rate rate";
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-columns: 60px auto;
    }
}


.card__cover {
    height: 100%;
    grid-area: poster;
    max-width: 183px;
    object-fit: cover;

    @media screen and (max-width: 1000px) {
        margin: 6px 0 0 10px;
        width:100%;
    }
}

.container .ant-card-body .card__info-container{
    grid-area: descContainer;
    box-shadow: none;
    padding: 10px 20px 0px 20px;
    position: relative;
}

.card__title{
    margin:0;
    width: calc(100% - 23px);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    font-optical-sizing: auto;
    margin-bottom: 7px;
}

.card__date{
    font-weight: 400;
    color: #827e7e;
    font-size: 12px;
    line-height: 22px;
    margin:0;
}

.card__genres{
    display: block;
}

.card__genre {
    margin-top: 8px;
    margin-right: 8px;
    display: inline-block;
    border: 1px solid #D9D9D9;
    background-color: #FAFAFA;
    padding: 1px 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #000000A6;
}

.card__description{
    grid-area: description;
    font-size: 12px;
    line-height: 22px;
    margin: 7px 0 0 0;
    padding: 0 20px;
    overflow: hidden;

    @media screen and (max-width: 1000px) {
        margin: 10px 0 0 0;
        padding: 0 10px;
    }
}